<div class="row">
  <div class="col-12 animated fadeInLeft slow">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Temas</h4>
        <div class="r-panel-body">
          <ul id="themecolors" class="m-t-20">
            <li><b>Con el sidebar claro</b></li>
            <li *ngFor="let color of colors | slice: 0:6">
              <a
                [attr.dataTheme]="color"
                class="selector"
                [class]="[setClass(color)]"
                (click)="changeTheme(color)"
                [ngStyle]="{
                  'border-color': color === selected ? 'darkslategrey' : 'white'
                }"
              ></a>
            </li>
            <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
            <li *ngFor="let color of colors | slice: -6">
              <a
                [attr.dataTheme]="color"
                class="selector"
                [class]="[setClass(color)]"
                (click)="changeTheme(color)"
                [ngStyle]="{
                  'border-color': color === selected ? 'darkslategrey' : 'white'
                }"
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
