<div class="row">
  <div *ngIf="charging" class="col-12 animated fadeInLeft slow">
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-4">Cargando...</h1>
        <i class="fa fa-spinner fa-spin fa-5x my-3"></i>
        <p class="lead">Espere por favor</p>
      </div>
    </div>
  </div>
  <div *ngIf="!charging" class="col-12 animated fadeInLeft slow">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <h4 class="card title">
              Listado de hospitales <small>{{ total }} registros</small>
            </h4>
          </div>
          <div class="col-6">
            <input
              #search
              (keyup)="searchHospital(search.value)"
              type="text"
              class="form-control"
              placeholder="Buscar hospital..."
            />
          </div>
          <div class="col-3 text-right">
            <button
              (click)="modalSave()"
              type="button"
              class="btn btn-primary btn-rounded waves-effect waves-light"
            >
              <i class="fa fa-plus"></i> Nuevo hospital
            </button>
          </div>
        </div>
        <table class="table table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hospital of hospitals">
              <td class="text-center" style="width: 3rem">
                <img
                  (click)="open(hospital)"
                  [src]="hospital.image | image:'hospitals'"
                  class="img-thumbnail"
                  style="width:100%; cursor: pointer"
                />
              </td>
              <td>
                <p
                  *ngIf="hospital._id !== active"
                  (click)="activeText(hospital._id)"
                >
                  {{ hospital.name }}
                </p>
                <input
                  *ngIf="hospital._id === active"
                  [(ngModel)]="hospital.name"
                  type="text"
                  class="form-control"
                  name="hospital"
                />
              </td>
              <td>
                <button
                  (click)="edit(hospital)"
                  type="button"
                  class="btn btn-success mx-1"
                >
                  <i class="fa fa-check"></i>
                </button>
                <button
                  (click)="modalDelete(hospital)"
                  type="button"
                  class="btn btn-danger mx-1"
                >
                  <i class="fa fa-close"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="search.value.length === 0" class="row">
          <div class="col-12 text-center">
            <button
              (click)="loadData(-5)"
              [disabled]="page <= 0"
              type="button"
              class="btn btn-inverse mx-1"
            >
              <i class="fa fa-arrow-left"></i>
            </button>
            <button
              (click)="loadData(5)"
              [disabled]="page + 5 >= total"
              type="button"
              class="btn btn-inverse mx-1"
            >
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
