<!-- Row -->
<div class="row">
  <div class="col-lg-6 animated fadeInLeft slow">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del doctor</h4>
        <form
          ngNativeValidate
          [formGroup]="form"
          (ngSubmit)="choose()"
          class="form p-t-20"
        >
          <div class="form-group">
            <label for="exampleInputuname">Nombre de Doctor</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                formControlName="name"
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Doctor"
                required
              />
            </div>
            <div class="input-group mt-3">
              <div class="input-group-addon"><i class="ti-truck"></i></div>
              <select
                formControlName="hospital"
                (change)="changed($event.target.value)"
                class="custom-select w-100"
                required
              >
                <option disabled>Seleccione un hospital</option>
                <option
                  *ngFor="let hospital of hospitals"
                  [value]="hospital._id"
                  >{{ hospital.name }}</option
                >
              </select>
            </div>
          </div>
          <a
            class="btn btn-secondary waves-effect waves-light float-right ml-2"
            routerLink="/doctors"
            ><i class="fa fa-arrow-left mr-2"></i>Regresar</a
          >
          <button
            type="submit"
            class="btn btn-success waves-effect waves-light float-right"
          >
            <i class="fa fa-save mr-2"></i>
            {{ doctor ? 'Actualizar' : 'Guardar' }}
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-3 animated fadeInLeft slow">
    <div class="card">
      <div class="card-body text-center">
        <img
          *ngIf="!image"
          [src]="doctor?.image | image: 'doctors'"
          class="img-thumbnail"
          alt="doctor"
          style="width: 100%"
        />
        <img
          *ngIf="image"
          [src]="temporal"
          class="img-thumbnail"
          alt="doctor"
          style="width: 100%"
        />
        <div class="form-group text-left pt-3">
          <label for="exampleInputuname">Imagen del doctor</label>
          <div class="input-group border border-light rounded-lg">
            <div class="input-group-addon"><i class="ti-image"></i></div>
            <label for="upload">
              <span class="p-2" aria-hidden="true" style="width: 100%"
                >Elija un archivo</span
              >
              <input
                (change)="charged($event.target.files[0])"
                type="file"
                id="upload"
                style="display:none"
              />
            </label>
          </div>
        </div>
        <button
          (click)="editImage()"
          [disabled]="!image"
          type="button"
          class="btn btn-success waves-effect waves-light float-right"
        >
          <i class="fa fa-save mr-2"></i>
          Actualizar
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 animated fadeInLeft slow">
    <div *ngIf="hospital" class="card text-center">
      <img
        [src]="hospital.image | image: 'hospitals'"
        class="img-thumbnail"
        alt="hospital"
        style="width: 100%"
      />
      <p>{{ hospital.name }}</p>
    </div>
  </div>
</div>
<!-- Row -->
