<div class="animated fadeInUp border border-light">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{ title }}</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="!temporal"
        type="button"
        class="btn btn-success"
        (click)="upload()"
      >
        Editar
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="activeModal.close()"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>
